@import url("https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import "./variables.scss";

.main {
  background-color: $background-yellow;
  padding: 40px 20px;

  .container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    .referSection {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background-color: $white-footer;
      border: 1px solid $primary-dark;
      border-radius: 16px;

      .container {
        padding: 64px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .title {
          text-align: left;
          font: normal normal normal 48px/72px Caveat Brush;
          color: $primary-dark;
          text-transform: uppercase;
        }

        .description {
          text-align: left;
          font: normal normal normal 20px/32px Noto Sans;
          color: $primary-dark;
        }

        .state {
          width: 100%;
          display: flex;
        }

        .emailInput {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;

          .form {
            width: 100%;
            display: flex;
            flex-direction: column;

            .input {
              padding: 15px;
              margin-bottom: 10px;
              border: 1px solid $primary-dark;
              border-radius: 8px;
              font-size: 16px;
            }

            .button {
              padding: 15px;
              background-color: $light-blue;
              color: #fff;
              border: 1px solid $primary-dark;
              border-radius: 5px;
              font-weight: bold;
              font-size: 16px;
              transition: background-color 0.3s ease;

              &:hover {
                background-color: darken($light-blue, 10%);
              }
            }
          }
        }

        .legal {
          align-self: flex-end;
          text-align: left;
          font: normal normal normal 16px/32px Noto Sans;
          color: #6d7a80;
        }
      }

      @media (min-width: $mobile-width) {
        height: 797px;
      }
    }

    .stepsSection {
      width: 100%;
      max-width: 448px;
      padding-top: 64px;
      margin-left: 128px;

      .step {
        display: flex;
        align-items: flex-start;
        margin-bottom: 30px;

        &.reversed {
          flex-direction: row-reverse;

          .stepIcon {
            margin-left: 48px;
          }
        }

        .stepIcon {
          width: 128px;
          height: 140px;
          flex-shrink: 0;
          margin-top: 15px;
        }

        .stepContent {
          flex-grow: 1;
          width: 256px;
        }

        .stepTitle {
          text-align: left;
          font: normal normal bold 20px/32px Noto Sans;
          letter-spacing: 1.6px;
          color: #4eb3e3;
          text-transform: uppercase;
          margin-bottom: 16px;
        }

        .stepSubtitle {
          font: normal normal normal 32px/48px Caveat Brush;
          color: $primary-dark;
          text-transform: uppercase;
          margin-bottom: 16px;
        }

        .stepDescription {
          font: normal normal normal 20px/32px Noto Sans;
          color: $primary-dark;
        }
      }

      @media (max-width: $mobile-width) {
        margin-left: 0;
      }
    }

    @media (min-width: $mobile-width) {
      flex-direction: row;
      align-items: flex-start;
    }
  }
}

@media (max-width: $mobile-width) {
  .main {
    .container {
      padding-bottom: 31px;

      .referSection {
        .container {
          padding: 32px 16px;

          .title {
            background-color: green;
            font: normal normal normal 32px/48px Caveat Brush;
          }

          .description {
            font: normal normal normal 16px/24px Noto Sans;
          }

          .state {
            padding-top: 24px;
            font: normal normal bold 16px/24px Noto Sans;
            color: $primary-dark;
          }

          .status {
            display: flex;
            align-items: center;
            padding-top: 64px;
            border-radius: 8px;
            margin-bottom: 16px;
            width: fit-content;

            .statusIcon {
              width: 24px;
              height: 24px;
            }

            .confirmationText {
              font-weight: bold;
              font-size: 16px;
              color: $primary-dark;
              padding-left: 16px;
            }
          }

          .emailInput {
            .form {
              padding-top: 16px;
            }
          }

          .legal {
            width: 100%;
            padding-top: 71px;
          }
        }
      }
    }
  }
}

.terms {
  padding-top: 70px;
  font: normal normal normal 16px/32px Noto Sans;
  color: #6d7a80;

  @media (min-width: $mobile-width) {
    text-align: left;
  }
}
